@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.getin{
  margin-top:
}
.blurred-navbar {
      backdrop-filter: blur(10px); /* Adjust the blur value as needed */
      background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity as needed */
    }

.hover-scale:hover {
    
      transform: scale(1.1); /* Adjust the scale factor as needed */

    }    

.img-drop{

  filter: drop-shadow(5px 5px 10px #555)
}